## ---------------------------
##
## Author: Szi Kay Leung
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------

## ---------------------------

## Output name and relevant info
export NAME=AllBDRTargeted
export SAMPLE_NUM=53
export SPECIES=hg38

## Output root directory filepath (ensure path exists)
export MERGED_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/E_MergedTargeted
export ONT_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/D_ONT
export ISO_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/A_IsoSeq
export SNUCLEI_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/Rosie/SortedNuclei/RNA/merged
export META_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/0_metadata/B_ONT

# Annotation 
TGENES=(ABCA1 SORL1 MAPT BIN1 TARDBP APP ABCA7 PTK2B ANK1 FYN CLU CD33 FUS PICALM SNCA APOE TRPA1 RHBDF2 TREM2 VGF)
TGENES_TXT=${META_ROOT}/TargetGenes.tsv
REF_DATASET=ADBDR

## ---------------------------

## Source functions and scripts directory 
export SC_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/AD_BDR
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation
export TAMAFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation/TAMA

## ---------------------------

## Reference 
export REFERENCE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references
export GENOME_FASTA=$REFERENCE/human/hg38.fa
export GENOME_GTF=$REFERENCE/annotation/gencode.v40.annotation.gtf
export POLYA_SEQ=$REFERENCE/Primers/polyA.fasta
export POLYT_SEQ=$REFERENCE/Primers/polyT.fasta
export TALON_DB=$REFERENCE/TALON_DB

# Primers and Probes
export FASTA=$REFERENCE/Primers/primer.fasta
export TARGETED_FASTA=$REFERENCE/Primers/targeted.primer.fasta
export PROBES=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/0_metadata/A_IsoSeq/Probes/FINAL_HUMAN_hg38.bed

## ---------------------------

## Long read data (ONT Targeted)
export RAW_ROOT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/1_raw/B_ONT
export RAW_FASTQ_1=${RAW_ROOT_DIR}/P0063_20221026_100859/BDR_enriched/20221026_1304_2F_PAM95037_d0bc299c/fastq_pass  # P0063_20221026_100859
export RAW_FASTQ_2=${RAW_ROOT_DIR}/P0063_20221031_10859/BDR_enriched/20221031_1830_2F_PAM95037_04a8d91e/fastq_pass   # P0063_20221031_10859
export RAW_FASTQ_3=${RAW_ROOT_DIR}/P0073_20230209_10918/BDR/20230209_1549_3F_PAK63174_1ae1cd51/fastq_pass            # P0073_20230209_10918

export BATCH_NAMES=(Targeted_Seq_1 Targeted_Seq_2)
export BAM_FILES=($RAW_BAM_1 $RAW_BAM_2)

# For Demultiplexing Samples
BARCODE_CONFIG=$SC_ROOT/1_ONT_Pipeline/bdr_ont_barocde.csv
ALL_SAMPLES_NAMES=($(awk -F "\"*,\"*" '{print $1}' ${BARCODE_CONFIG}))
TALON_FILTER_SAMPLES=(${ALL_SAMPLES_NAMES[@]})

# Sorted nuclei data (processed by R.Bamford; merged and mapped)
export SortedBAM=/gpfs/mrc0/projects/Research_Project-MRC148213/Rosie/SortedNuclei/RNA/P0075_20230216_10916/adult_sorted_nuclei/20230216_1558_1G_PAK65840_66586f9d/combined/merged.bam

export GRPPHENOTYPE=${META_ROOT}/ADBDR_Batch1Phenotype_Grouping.csv


## ---------------------------

## Software 
export SOFTDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software

export MINIONQC=${SOFTDIR}/minion_qc/MinIONQC.R
export PORECHOP=${SOFTDIR}/Porechop/porechop-runner.py
export TCLEAN=${SOFTDIR}/TranscriptClean/TranscriptClean.py
export CUPCAKE=${SOFTDIR}/Post_Isoseq3/cDNA_Cupcake
export ANNOTATION=$CUPCAKE/annotation
export SEQUENCE=$CUPCAKE/sequence
export PYTHONPATH=$PYTHONPATH:$SEQUENCE
export SQANTI2_dir=${SOFTDIR}/Post_Isoseq3/SQANTI2
export SQANTI3_DIR=${SOFTDIR}/SQANTI3
export SQ_Report=${SOFTDIR}/Post_Isoseq3/SQANTI2/utilities/SQANTI_report2.R
export TAPPAS_dir=${SOFTDIR}/TAPPAS
export TAMA_DIR=${SOFTDIR}/tama/tama_go/filter_transcript_models
export ISOANNOT=${SOFTDIR}/SQANTI3/utilities/IsoAnnotLite_SQ3.py

## ---------------------------

## Software input files
# SQANTI3 input files
CAGE_PEAK=$SQANTI3_DIR/data/ref_TSS_annotation/human.refTSS_v3.1.hg38.bed
POLYA=$SQANTI3_DIR/data/polyA_motifs/mouse_and_human.polyA_motif.txt
GFF3=$TAPPAS_dir/Homo_sapiens_GRCh38_Ensembl_86.gff3

# CPAT input files
export HEXAMER=${REFERENCE}/CPAT/Human_Hexamer.tsv
export LOGITMODEL=${REFERENCE}/CPAT/Human_logitModel.RData



