## ---------------------------
##
## Script name: bdr_differential_config
##
## Purpose of script: Config file for running proteogenomics pipeline on ADBDR mass spectrometry data and Iso-Seq data
##
## Author: Szi Kay Leung
##
## Date Created: 05-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
##   Called for the differential analysis of BDR dataset to generate input files for tappAS
##   2 separate workstreams:
##      a) Iso-Seq FL reads and annotation 
##      b) Hybrid: Iso-Seq annotation + RNA-Seq counts (after kallisto alignment to Iso-Seq annotation) 
##   
## ---------------------------

## ---------------------------

## Output name and relevant info
export NAME=AllBDRTargeted
export SPECIES=human
export SQNAME=$NAME".collapsed_classification.filtered_lite"

## ---------------------------

## Source functions and scripts directory 
export SC_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/AD_BDR
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General
export TAMAFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation/TAMA
export TAPPASFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/IsoSeq_Tg4510/3_Differential_Analysis/

## ---------------------------

# RNASeq names 
RNASEQ_FILTERED_DIR=/lustre/projects/Research_Project-193356/Project_10202/11_fastp_trimmed
RNASEQ_SAMPLES_NAMES=$(awk '{print $1}' $SC_ROOT/1_IsoSeq_Pipeline/bdr_rnaseq_samples.tsv)
RNASEQ_MAPPED_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/B_RNASeq/MAPPED

## ---------------------------
TAPPAS_PHENO_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/0_metadata/A_IsoSeq/Tappas

ISO_DIFF_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/A_IsoSeq_solo
ISO_WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/A_IsoSeq/9_sqanti3/full
ISO_TAPPAS_PHENO=$TAPPAS_PHENO_DIR/ADBDR_PhenotypeTAPPAS.txt

HYBRID_DIFF_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/B_Hybrid_96
HYBRID_TAPPAS_PHENO=$TAPPAS_PHENO_DIR/ADBDR_RNASeqPhenotypeTAPPAS.txt

HYBRID_PUBLIC_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/C_Hybrid_Public
MAYO_RAW_DIR=/lustre/projects/Research_Project-MRC190311/RNASeq/Mayo/1_raw
MAYO_TRIMMED_DIR=/lustre/projects/Research_Project-MRC190311/RNASeq/Mayo/2_trimmed
MAYO_DIFF_DIR=$HYBRID_PUBLIC_DIR/Mayo/1_aligned
MAYO_SAMPLE_NAMES_FILES=$HYBRID_PUBLIC_DIR/Mayo/0_metadata/synapseid_extreme_downloaded.txt

ROSMAP_RAW_DIR=/lustre/projects/Research_Project-MRC190311/RNASeq/Rosmap/1_raw
ROSMAP_TRIMMED_DIR=/lustre/projects/Research_Project-MRC190311/RNASeq/Rosmap/2_trimmed
ROSMAP_DIFF_DIR= $HYBRID_PUBLIC_DIR/Rosmap/1_aligned
ROSMAP_SAMPLE_NAMES_FILES=$HYBRID_PUBLIC_DIR/Rosmap/0_metadata/synapseid_extreme_downloaded.txt

export TAPPAS_INPUT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/TAPPAS_INPUT
export TAPPAS_OUTPUT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/TAPPAS_OUTPUT
mkdir -p $TAPPAS_INPUT_DIR


## ---------------------------
ONT_DIFF_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/Differential/D_ONT_solo
ONT_WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/D_ONT/7_sqanti3/2_filtered
ONT_TALON_ABUNDANCE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/D_ONT/6_talon/2_filtered/AllBDRTargeted_filtered_talon_abundance_filtered.tsv
ONT_TAPPAS_PHENO=

## ---------------------------

## Internal Scripts 
SUBSETTARGET=$GENERALFUNC/2_Transcriptome_Annotation/identify_targetisoforms.R
SUBSETEXP=$GENERALFUNC/2_Transcriptome_Annotation/Counts_Subset.R
RNASEQCOUNT=$TAPPASFUNC/Rscripts/TAPPAS_RNASEQ_Exp.R
TALEXPCONVERT=$GENERALFUNC/5_TappAS_Differential/talon2tappas_expression.R

