## ---------------------------
##
## Script name: 2a_bdr_proteomics.config
##
## Purpose of script: Config file for running proteogenomics pipeline on ADBDR mass spectrometry data and Iso-Seq data
##
## Author: Szi Kay Leung
##
## Date Created: 02-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
##   Using Gloria's long-read proteogenomics pipeline to integrate BDR Iso-Seq long-read dataset (n = 30) and mass-spectrometry dataset (n = 96)
##   Iso-Seq raw data previously analysed using standard pipeline: Iso-Seq3, minimap2, cupcake, SQANTI3
##   Mass-spectrometry data from Ehsan Pishva downloaded using filesender
## ---------------------------
	
export NAME=ADBDR

## ---------------------------

## Output root directory filepath (ensure path exists)
export WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/C_Proteomics

## ---------------------------

## Software
export SOFTDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software
export REFDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references

export LREAD=${SOFTDIR}/Long-Read-Proteogenomics/modules/
export HEXAMER=${REFDIR}/CPAT/Human_Hexamer.tsv
export LOGITMODEL=${REFDIR}/CPAT/Human_logitModel.RData
export PYTHONPATH=$PYTHONPATH:${SOFTDIR}/cDNA_Cupcake/sequence/
export METAMORPHEUS=${SOFTDIR}/MetaMorpheus/
export METAMORPHEUS_TOML=${REFDIR}/metamorpheus/Task1SearchTaskconfig_orf.toml
METAMORPHEUS_RESCUE_TOML=${REFDIR}/metamorpheus/Task1SearchTaskconfig_rescue_resolve.toml
#mkdir -p ${SOFTDIR}/Long-Read-Proteogenomics/modules/sqanti_protein/src/utilities
#cp ${SOFTDIR}/SQANTI3/utilities/gtfToGenePred $LREAD/sqanti_protein/src/utilities

## Install dotnet (required for Metamorpheus)
##https://docs.microsoft.com/en-us/dotnet/core/install/linux-scripted-manual#scripted-install
#./dotnet-install.sh -c Current
#bash dotnet-install.sh -c 5.0
export PATH=$PATH:/lustre/home/sl693/.dotnet

## ---------------------------

## Reference data filepaths
export GENOME_GTF=${REFDIR}/annotation/gencode.v40.annotation.gtf
export GENOME_FASTA=${REFDIR}/human/hg38.fa
export GENOME_TRANSCRIPT_FASTA=${REFDIR}/human/gencode.v38.transcripts.fa
export GENOME_TRANSLATION_FASTA=${REFDIR}/human/gencode.v38.pc_translations.fa
export UNIPROT_FASTA=${REFDIR}/human/homo_sapiens_uniprot.fasta

## Uniprot
# uniprot-compressed_true_download_true_format_fasta_includeIsoform_tr-2022.07.13-09.34.19.50.fasta.gz
# mv uniprot-compressed_true_download_true_format_fasta_includeIsoform_tr-2022.07.13-09.34.19.50.fasta homo_sapiens_uniprot.fasta

## ---------------------------

## Long Read data (SQANTI3 files)
export SQANTIDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/A_IsoSeq/9_sqanti3/basic
export ISO_CLASSFILE=${SQANTIDIR}/AllBDRTargeted.collapsed_classification.filtered_lite_classification.txt
export ISO_FASTA=${SQANTIDIR}/AllBDRTargeted.collapsed_classification.filtered_lite.fasta
export ISO_GTF=${SQANTIDIR}/AllBDRTargeted.collapsed_classification.filtered_lite.gtf

## ---------------------------

# Mass Spectrometry dataset
export PROTEIN_RAW=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/1_raw/C_Proteomics

## ---------------------------

## Parameters for long read proteogenomics pipeline
coding_score_cutoff=0.0
min_junctions_after_stop_codon=2
lower_kb=1
upper_kb=4
lower_cpm=3
