A1=fl.primer_5p--BC1001_3p.bam
A2=fl.primer_5p--BC1002_3p.bam
A3=fl.primer_5p--BC1003_3p.bam
A4=fl.primer_5p--BC1004_3p.bam
A5=fl.primer_5p--BC1005_3p.bam
A6=fl.primer_5p--BC1006_3p.bam
A7=fl.primer_5p--BC1007_3p.bam
A8=fl.primer_5p--BC1008_3p.bam
A9=fl.primer_5p--BC1009_3p.bam
A10=fl.primer_5p--BC1010_3p.bam
