## ---------------------------
##
## Script name: 2a_bdr_proteomics.config
##
## Purpose of script: Config file for running proteogenomics pipeline on ADBDR mass spectrometry data and Iso-Seq data
##
## Author: Szi Kay Leung
##
## Date Created: 02-08-2022
##
## Email: sl693@exeter.ac.uk
##
## ---------------------------
##
## Notes:
##   Using Gloria's long-read proteogenomics pipeline to integrate BDR Iso-Seq long-read dataset (n = 30) and mass-spectrometry dataset (n = 96)
##   Iso-Seq raw data previously analysed using standard pipeline: Iso-Seq3, minimap2, cupcake, SQANTI3
##   Mass-spectrometry data from Ehsan Pishva downloaded using filesender
## ---------------------------

## ---------------------------

## Output name and relevant info
export NAME=AllBDRTargeted

## Output root directory filepath (ensure path exists)
export WKD_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/A_IsoSeq

# Annotation 
TGENES=(ABCA1 SORL1 MAPT BIN1 TARDBP APP ABCA7 PTK2B ANK1 FYN CLU CD33 FUS PICALM SNCA APOE TRPA1 RHBDF2 TREM2 VGF)
REF_DATASET=ADBDR

## ---------------------------

## Source functions and scripts directory 
export SC_ROOT=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/AD_BDR
export GENERALFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation
export TAMAFUNC=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/General/2_Transcriptome_Annotation/TAMA
export FICLE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/scripts/FICLE/ficle.py

## ---------------------------

## Reference 
export REFERENCE=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/references
export GENOME_FASTA=$REFERENCE/human/hg38.fa
export GENOME_GTF=$REFERENCE/annotation/gencode.v40.annotation.gtf

# Primers and Probes
export FASTA=$REFERENCE/Primers/primer.fasta
export TARGETED_FASTA=$REFERENCE/Primers/targeted.primer.fasta
export PROBES=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/0_metadata/A_IsoSeq/Probes/FINAL_HUMAN_hg38.bed

## ---------------------------

## Long read data (Iso-Seq)
export RAW_ROOT_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/1_raw/A_IsoSeq/
export RAW_BAM_1=$RAW_ROOT_DIR/1/r54082_20210414_174339/1_A01/m54082_210414_181257.subreads.bam  #Targeted_Seq_1
export RAW_BAM_2=$RAW_ROOT_DIR/2/r54082_20210419_154600/1_A02/m54082_210419_161354.subreads.bam  #Targeted_Seq_2
export RAW_BAM_3=$RAW_ROOT_DIR/3/r54082_20210419_154600/2_B02/m54082_210420_123130.subreads.bam  #Targeted_Seq_3

export BATCH_NAMES=(Targeted_Seq_1 Targeted_Seq_2 Targeted_Seq_3)
export BAM_FILES=($RAW_BAM_1 $RAW_BAM_2 $RAW_BAM_3)

# For Demultiplexing Samples
BARCODE_CONFIG=$SC_ROOT/1_IsoSeq_Pipeline/bdr_isoseq_barcode.tsv
ALL_SAMPLES_NAMES=$(grep "^[^#;]" $BARCODE_CONFIG | awk '{print $1}')

## ---------------------------

# Short read data (RNA-Seq)
RNASEQ_FILTERED_DIR=/lustre/projects/Research_Project-193356/Project_10202/11_fastp_trimmed
RNASEQ_SAMPLES_NAMES=$(awk '{print $1}' $SC_ROOT/1_IsoSeq_Pipeline/bdr_rnaseq_samples.tsv)
RNASEQ_MAPPED_DIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/AD_BDR/B_RNASeq/MAPPED

## ---------------------------

## Software 
export SOFTDIR=/gpfs/mrc0/projects/Research_Project-MRC148213/sl693/software

export CUPCAKE=$SOFTDIR/Post_Isoseq3/cDNA_Cupcake
export ANNOTATION=$CUPCAKE/annotation
export SEQUENCE=$CUPCAKE/sequence
export PYTHONPATH=$PYTHONPATH:$SEQUENCE
export SQANTI2_dir=$SOFTDIR/Post_Isoseq3/SQANTI2
export SQANTI3_DIR=$SOFTDIR/SQANTI3
export SQ_Report=$SOFTDIR/Post_Isoseq3/SQANTI2/utilities/SQANTI_report2.R
export TAPPAS_dir=$SOFTDIR/TAPPAS
export TAMA_DIR=$SOFTDIR/tama/tama_go/filter_transcript_models

## ---------------------------

## Software input files
# SQANTI3 input files
CAGE_PEAK=$SQANTI3_DIR/data/ref_TSS_annotation/human.refTSS_v3.1.hg38.bed
POLYA=$SQANTI3_DIR/data/polyA_motifs/mouse_and_human.polyA_motif.txt
GFF3=$TAPPAS_dir/Homo_sapiens_GRCh38_Ensembl_86.gff3

# CPAT input files
export HEXAMER=${REFERENCE}/CPAT/Human_Hexamer.tsv
export LOGITMODEL=${REFERENCE}/CPAT/Human_logitModel.RData

## ---------------------------

## Internal Scripts 
DEMUXFUNCTIONS=$GENERALFUNC/Demultiplex_Cupcake.R
KALLSTOINPUT=$GENERALFUNC/TabSeparated_Kallisto.R 
TAMAMERGE=$TAMAFUNC/TAMA_Merge_Prepare.R
TAMASUBSET=$GENERALFUNC/TAMA/tama_sqanti_classgtfsubset.R
TAMASUBSETFASTA=$GENERALFUNC/TAMA/tama_sqanti_fastasubset.py
CCSQC=$GENERALFUNC/IsoSeq_QC/CCS.py
LIMAQC=$GENERALFUNC/IsoSeq_QC/LIMA.py
ISMREMOVE=$GENERALFUNC/3ISM_remove_classification.R
MERGEFL=$GENERALFUNC/merge_FL_abundance.R
COLOURTRANS=$GENERALFUNC/colour_common_targeted_transcripts.py
BESTORF=$GENERALFUNC/extract_fasta_bestorf.py
TGENEPREP=$GENERALFUNC/subset_reference_by_gene.py
FULLANNO=$GENERALFUNC/annotate_common_targeted_transcripts_final.py